<! doctype html>
<html ng-app="testApp">
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="/spring-web-maven/static/angular/angular-csp.css">
	<link rel="stylesheet" type="text/css" href="/spring-web-maven/css/custom.css">

	<script type="text/javascript" src="/spring-web-maven/static/angular/angular.js"></script>
	<script type="text/javascript" src="/spring-web-maven/controller/app.js"></script>
</head>
<body>

	<p> Nothing here yet</p>
</body>
</html>